@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Yeseva+One&display=swap');


/* Section-1 */
p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.detail-sec{
    margin: 80px;
}
.head-line{

    border-left: #FF5959 3px solid;
    font-size: 55px;
    padding-left: 20px;
    font-family: 'Yeseva One', cursive; 
}
.color-txt{
    color: #FFAD5A;
}
.color-btn{
    text-decoration: none;
    font-weight: 400;
    color:white;
    border-radius: 5px;
    padding: 15px;
    background-color: #FF5959;
    line-height: 40px;
    border-left: black 6px solid;
    border-right: black 6px solid;
}
.profile-pic{
    height: 623px;
    width: auto;
}
/* ------------------------------ */
.mission-head{
    font-size:48px; 
    font-family:'Poppins', sans-serif;
   text-align: center;
   line-height: 70px;
   font-weight: 700;
}

/* section-2 */
.mission-cards{
    padding: 20px;
    border-radius: 30px;
    height: 376px;
    width:360px;
}
#card-1{
background-color:#4f9da648 ;
margin: 20px;
}
#card-2{
background-color:#FF59591A;
margin: 20px;
}
#card-3{
background-color:#FFF4D6;
margin: 20px;
}

.icons{
    height: 141px;
    width: auto;
}

/* Section 3 */
.img-container{
margin-top: 90px;
}
#develop-img{
    height: 400px;
    width: 400px;
    margin-left: 60px;
}
.head-line-2{
font-family: 'Poppins', sans-serif;
font-size: 36px;
line-height: 54px;
}
/* section-4 */
#project-img{
    height: 400px;
    width: 400px;
}

.input{
    margin: 20px;
    font-size: 22px;
    font-family:'Poppins', sans-serif; 
    font-weight:700 ;
}
.contact-sec{
    background-color: rgba(255, 235, 205, 0.493);
    padding: 30px;
    border-radius: 10px;
}